In [1]:
print(10)

10

In [2]:
print('python')

python

print(10,20,30)

In [6]:
print(10,10.5,'naresh it',True)

10 10.5 naresh it True

In [7]:
n1=10
n2=20
print(n1,n2)

10 20

In [8]:
print(10),print(20)

10
20

(None, None)

In [9]:
n1=10
n2=20
n1,n2

(10, 20)

In [10]:
a=10
b=20
c=a+b
c

30

In [11]:
print("the addition of 10 and 20 is 30")

the addition of 10 and 20 is 30

In [12]:
print("the addition of",a,"and",b,"is",c)

the addition of 10 and 20 is 30

**format**

In [13]:
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 10 and 20 is 30

In [15]:
name='python'
age=10
city='hyd'
print("my name is python,im 10 years old and im from hyd".format(city,age,name))

my name is python,im 10 years old and im from hyd

In [16]:
a=100
b=200
c=a+b
print("the addition of {a} and {b} is {c}")

the addition of {a} and {b} is {c}

In [17]:
a=100
b=200
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 200 is 300

In [18]:
name='python'
age=10
city='hyd'
print(f"my name is python,im 10 years old and im from hyd".format(city,age,name))

my name is python,im 10 years old and im from hyd

In [1]:
num1=100
num2=200
average=(num1+num2)/2

In [5]:
print("the average of {} and {} is {}".format(num1,num2,average))

the average of 100 and 200 is 150.0

In [6]:
print(f"the average of {num1} and {num2} is {average}")

the average of 100 and 200 is 150.0

radius=10
pi_value=3.14
area=pi_value*radius*radius

In [11]:
print("the area of circle is {}")

the area of circle is {}

In [10]:
base=10
height=20
area=0.5*base*height
print("the area of triangle is {area}")

the area of triangle is {area}

In [14]:
print(f"the area of triangle is {area}")

the area of triangle is 100.0

In [15]:
bill_amount=1000
tip_percentage=10
tip_amount=bill_amount*tip_percentage/100
total_bill=bill_amount+tip_amount
print("the total bill is:{total_bill}")

the total bill is:{total_bill}

In [16]:
print(f"the total bill is:{total_bill}")

the total bill is:1100.0

In [17]:
print(10)
print(20)

10
20

In [18]:
print(10,20)

10 20

**end operator**

In [19]:
print(10,end=' ')
print(20)

10 20

In [21]:
print(10,end='  ')
print(20,end='  ')
print(30)

10  20  30

In [22]:
print(10,20,30)

10 20 30

**seperator operator**

- seperate the multiple values in a single print statement

In [23]:
print(10,20,30,sep='&')

10&20&30

In [24]:
print(10,20,30,sep='--->')

10--->20--->30

In [29]:
print(f"the addition of {5} and {3} is {5+3}.")

the addition of 5 and 3 is 8.

In [28]:
print("the addition of {} and {} is {}.".format(5,3,5+3))

the addition of 5 and 3 is 8.

In [30]:
print('the addition of 5 and 3 is 8','.',sep='')

the addition of 5 and 3 is 8.