In [ ]:
a=10
b=20
c=a+b
c

In [1]:
a=10
b=20
c=a+b
c

30

In [ ]:
a=100
b=200
c=a+b
c

im learning python today

In [2]:
im learning python today

SyntaxError: invalid syntax (3524872324.py, line 1)

im learning python today

my name is manikanth
and i want to persive machine learning
become a software engineer

# python

## python

### python

esc+m = markdown mode

esc+y = code mode

today i learnt how to open jupyter notebook

i created a folder for python

from tomorrow onwards i will open all my python notebooks

i understood about the kernel

when kernel is busy i will not run any other code cell

because python kernel will run step by step

i also learn how to run the code cell using shift+enter

i also learned how to write the story in jupyter notebook

this is called markdown

<img id="dimg_VP9wZvGoG4uXseMP7cSZmAQ_125" src="" class="YQ4gaf" height="168" style="object-position:0% 38%" width="300" alt="Jupyter Notebooks: A Beginner's Guide ..." data-csiid="22" data-atf="1">

In [1]:
number=100
number

100

In [2]:
number=200
number

200

**note**
- python is step by step process

- python will take last output as the latest value

- in above code we are using same variable: number

- but number value changed two times

- first time 100

- second time 200

- latest time 200

In [4]:
NUMber=300
NUMber

300

In [5]:
number123=300
number123

300

In [6]:
number=200
NUMBER=200
NUMBER,number

(200, 200)

In [7]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [8]:
number_one=100
number_one

100

In [9]:
_=1000
-

SyntaxError: invalid syntax (2095375062.py, line 2)

In [10]:
_=1000
_

1000

In [11]:
n1=100,200
n1

(100, 200)

In [12]:
n2,n3=200
n2,n3

TypeError: cannot unpack non-iterable int object

In [13]:
n4,n5=100,200
n4,n5

(100, 200)

In [9]:
number=200
NUMBER=300
NUMber=400
number123=500
number=600
numer=700
numberone=800
number_one=900

In [16]:
n1,_=100,200
n1

100

- python variables are case sensitive

- variables can declare as captials letters

- variables can declare as small letters

- variables cannot start with numbers

- variables cannot include spl characters except under score

- only underscore is possible

- keywords cannot use as variables(if , else , for , while )

- two values can assign to a single variable

- one value cannot assign to two variables

In [1]:
num=100
num=200
num

200

In [2]:
num=(100,200)
num

(100, 200)

In [3]:
num123=400
num123

400

In [4]:
123num=562
123num

SyntaxError: invalid decimal literal (3816821047.py, line 1)